<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container style="height:100vh;" hasBackdrop="false" >
  <mat-drawer #drawer mode="push" opened color='primary' style="width: 10%;">
    <app-sidebar></app-sidebar>

  </mat-drawer>
  <mat-drawer-content>
    <button mat-mini-fab color='primary' (click)="drawer.toggle()" style="width: fit-content; border:0px; padding:0px; top:45%; left:-1%; z-index:100;">
      <mat-icon>{{ drawer.opened ? 'arrow_back' : 'arrow_forward' }} </mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
