<nav>
  <ul>
    <li>
      <button mat-raised-button routerLink=""  color="primary"  style="width:100%; text-align:left;">
        <mat-icon style='position: relative; top: -2px;'>home</mat-icon>
                 Home
      </button>
    </li>
    <li>
      <button mat-raised-button routerLink="/myprofile" color="primary" style="width:100%;text-align:left;">
        <mat-icon style='position: relative; top: -2px;'>account_circle</mat-icon>
                 Profile
      </button>
    </li>
    <li>
      <button mat-raised-button routerLink="/calendar"  color="primary" style="width:100%;text-align:left;">
        <mat-icon style='position: relative; top: -2px;'>calendar_today</mat-icon>
               Calendar
      </button>
    </li>
    <li>
      <button mat-raised-button routerLink="/products"  color="primary" style="width:100%;text-align:left;">
        <mat-icon style='position: relative; top: -2px;'>label</mat-icon>
               Products
      </button>
    </li>
    <li>
      <button mat-raised-button routerLink="/settings"  color="primary" style="width:100%;text-align:left;">
        <mat-icon style='position: relative; top: -2px;'>settings</mat-icon>
               Settings
      </button>
    </li>
  </ul>
</nav>
